rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /persons/{personID} {
      allow read, write: if request.resource.data.personID == request.auth.uid;
    }
    match /institutions/{institutionID} {
      allow read, write: if request.resource.data.institutionID == request.auth.uid;
    }
    match /halls/{hallID} {
      allow read, write: if request.resource.data.institutionID == request.auth.uid;
    }
  }
}